.input-field[data-v-0c6e719f]{background-color:var(--tw-bg-opacity,#f8fafc);border:1px solid #9ca3af;border-radius:.375rem;outline:none;padding:.5rem .75rem;width:100%}.input-field[data-v-0c6e719f]:focus{ring:2px solid #0ea5e9}
